<div class="card">
  <header id="header">
    <div class="header-content">
      <div class="dot">
        <%= image_tag ("dot_image.png"), :class => "dot-img" %>
      </div>
      <div class="title">
        <h1>Check in/out</h1>
      </div>
      <%= link_to 'Home', '/' %>
      <a href="#">Generate report</a>
    </div>
  </header>
  <div class="content-nogrid content">
    <div id="arrow_left"><i class="fas fa-chevron-left"></i></div>
    <center>
      <h2 class="title_grid">Branches</h2>
      <div>
        <table id="table_branches" class="grid">
          <thead>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
          </thead>
          <tr class="register">
            <td>North</td>
            <td>Bugambilais #132, centro Colima Col.</td>
            <td><i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;<i class="fas fa-toggle-on"></i></td>
          </tr>
        </table>
      </div>
      <button id="add_branch" class="buttons-style"><i class="far fa-building"></i>ADD BRANCH</button>
    </center>
    <div id="arrow_right"><i class="fas fa-chevron-right"></i></div>
  </div>
</div>
