<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Reloj checador</title>
</head>

<body>

  <div class="card">

    <header id="header">

      <div class="header-content">
        <div class="dot">
          <img class="dot-img" src="/img/Method Draw Image.png" alt="">
        </div>

        <div class="title">
          <h1>Check in/out</h1>
        </div>

        <a href="/index.html">Home</a>
        <a href="#">Admin</a>
        <a href="#">Generate reports</a>
      </div>

    </header>

    <div id="login_admin" class="content-nogrid content">

      <div class="grid1-employee">
        <img class="employee-img" src="/img/account_circle.png" alt="user-image">

        <div id="form">
          <form action="">
            <input placeholder="Username" type="text">
            <input placeholder="Password" type="password">
            <div class="button-admin">
              <button type="submit">LOG IN</button>

            </div>

          </form>
        </div>

      </div>

    </div>

  </div>


  <script src="js/timer-script.js"></script>

</body>

</html>