<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title>Reloj checador</title>
</head>
<body>
  <div class="card">
    <header id="header">
      <div class="header-content">
        <div class="dot">
          <img class="dot-img" src="/img/Method Draw Image.png" alt="">
        </div>
        <div class="title">
          <h1>Check in/out</h1>
        </div>
        <a href="/index.html">Home</a>
        <a href="#">Generate report</a>
      </div>
    </header>
    <div class="content-nogrid content">
      <div id="arrow_left"><i class="fas fa-chevron-left"></i></div>
      <center>
        <h2 class="title_grid">Branches</h2>
        <div>
          <table id="table_branches" class="grid">
            <thead>
              <th>Name</th>
              <th>Address</th>
              <th>Actions</th>
            </thead>
            <tr class="register">
              <td>North</td>
              <td>Bugambilais #132, centro Colima Col.</td>
              <td><i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;<i class="fas fa-toggle-on"></i></td>
            </tr>
            <tr class="register">
              <td>North</td>
              <td>Bugambilais #132, centro Colima Col.</td>
              <td><i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;<i class="fas fa-toggle-on"></i></td>
            </tr>
            <tr class="register">
              <td>North</td>
              <td>Bugambilais #132, centro Colima Col.</td>
              <td><i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;<i class="fas fa-toggle-on"></i></td>
            </tr>
            <tr class="register">
              <td>North</td>
              <td>Bugambilais #132, centro Colima Col.</td>
              <td><i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;<i class="fas fa-toggle-on"></i></td>
            </tr>
            </tr>
            <tr class="register">
              <td>North</td>
              <td>Bugambilais #132, centro Colima Col.</td>
              <td><i class="fas fa-pencil-alt"></i> &nbsp; &nbsp;<i class="fas fa-toggle-on"></i></td>
            </tr>
          </table>
        </div>
        <button id="add_branch" class="buttons-style"><i class="far fa-building"></i>ADD BRANCH</button>
      </center>
      <div id="arrow_right"><i class="fas fa-chevron-right"></i></div>
    </div>
  </div>
</body>
</html>
